<h3>Gist Form</h3>
<a href="#">Back to Gists Index</a>

<form>
  <p>
    <label>Title:<br>
      <input type="text" name="gist[title]">
    </label>
  </p>

  <p>
    <input type="submit">
  </p>
</form>