
  <p>
    <label>Title:<br>
      <input type="text" name="gist[title]">
    </label>
  </p>

  <p>
    <input type="submit">
  </p>

  <p>
    <label>Search tags:<br>
      <input type="text" id="tag_select">
    </label>
  </p>

  <input type="hidden" name="gist[gist_files][]" value="">
  <input type="hidden" name="gist[tag_ids][]" value="">

  <div id="tags"></div>

  <p>
    <a href="#" id="new_gist_file_link">New Gist File</a>
  </p>

